:root {
  --verde: #757b63;
  --naranja: #f58234;
  --cafe: #bd9a5f;
  --azul: #323e48;
  --negro: #000000;
  --Blanco: #ffff;
  --toronja: #ff6f4a;
  --mostaza: #fcaf1a;
  --gris: #9e9e9e;
  --headingFont:'Raleway', sans-serif;
  --textFont:  'Roboto', sans-serif;
} 
.button {
    margin-top: 2rem;
    font-family: var(--headingFont);
    padding: 1.5rem;
    font-size: 1.4;
    font-weight: 400;
    border-radius: .5rem;
    border: none;
    transition: .3s ease;
  }
  .btn:hover {
    cursor: pointer;
  }
  .btn-primario {
    background-color: var(--mostaza);
    color: var(--Blanco);
  }
  .btn-primario:hover {
    background: var(--naranja);
  }
  .btn-secundario {
    background-color: var(--gris);
  }
  .btn-block{
    display: block;
    width: 50%;
  }
  .btn-submit:hover {
    background-color: var(--gris);
  }
  .btn-blank {
    margin: 0;
    padding: 0;
    display: block;
  }
  