.form-usuario {
    height: 100vh;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/granos-cafe.jpg');
    background-position: center;
    background-size: cover;
}
.contenedor-form {
    padding: 5rem 3rem;
    max-width: 500px;
    width: 95%;
    background-color: var(--Blanco);
    border-radius: 1rem;
}
.campo-form {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}
.campo-form:last-of-type {
  margin: 0;
}
.campo-form label {
  flex: 0 0 100px;
  font-family: var(--textFont);
}
.campo-form input[type="password"],
.campo-form input[type="email"], 
.campo-form input[type="text"] {
  border: 1px solid #e1e1e1;
  padding: 1rem;
  flex: 1;
}
.enlace-cuenta {
  margin-top: 2rem;
  display: block;
  opacity: .7;
}
